<!-- Body Content-->
<div class="main-container">
  <section class="banner-block">
    <div class="background-banner">
      <div id="themeSlider" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#themeSlider" data-slide-to="0" class="active"></li>
          <li data-target="#themeSlider" data-slide-to="1"></li>
          <li data-target="#themeSlider" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
          <div class="item active">
            <div class="imgOverlay">
              <div class="inner-overlay"></div>
            </div>
            <img src="/assets/images/banner3.png" alt="First slide">
          </div>
          <div class="item">
            <div class="imgOverlay">
              <div class="inner-overlay"></div>
            </div>
            <img src="/assets/images/banner2.png" alt="Second slide">
          </div>
          <div class="item">
            <div class="imgOverlay">
              <div class="inner-overlay"></div>
            </div>
            <img src="/assets/images/banner1.png" alt="Third slide">
          </div>
        </div>

        <a class="left carousel-control" href="#themeSlider" data-slide="prev">
              <span class="fa fa-chevron-left"></span>
          </a>
        <a class="right carousel-control" href="#themeSlider" data-slide="next">
              <span class="fa fa-chevron-right"></span>
          </a>

        <div class="main-text">
          <div class="container">
            <div class="content">
              <h1 class="title">
                Wedding New Way
              </h1>
              <span class="content-msg">
                        Indtroducing a new styles carefully carfted in
                      </span>
              <span class="content-msg">
                        collaboration with Style Me
                      </span>
            </div>

            <div class="categeries-block">
              <div class="title">
                What are you looking for?
              </div>
              <div class="dropdown-categeries">
                <div class="select-dropdown">
                  <select class="form-control" id="allcateg">
                            <option>All Category</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                          </select>

                  <select class="form-control" id="allstate">
                            <option>All States</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                          </select>

                </div>
                <button class="categ-btn">search</button>
              </div>
            </div>

            <div class="start-planning">
              <span><i class="fa fa-calendar" aria-hidden="true"></i>Start Planning</span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>


  <section class="freewed-planning-block">
    <div class="container">
      <div class="title-block">
        <h2 class="title">Free Wedding Planning</h2>
        <div class="content">
          Simple wedding planning tools to help you stay on track
        </div>
      </div>
      <div class="planning-icon">
        <ul class="icons">
          <li class="icons-list">
            <a class="icon-link">
                <span class="icon-img">
                  <img class="img-responsive" src="/assets/images/todo.png">
                </span>
                <span class="icon-title">
                  TO DO LIST
                </span>
              </a>
          </li>
          <li class="icons-list">
            <a class="icon-link">
                <span class="icon-img">
                  <img class="img-responsive" src="/assets/images/supp.png">
                </span>
                <span class="icon-title">
                  SUPPLIER PLANNER
                </span>
              </a>
          </li>
          <li class="icons-list">
            <a class="icon-link">
                <span class="icon-img">
                  <img class="img-responsive" src="/assets/images/budg.png">
                </span>
                <span class="icon-title">
                  BUDGET CALCULATOR
                </span>
              </a>
          </li>
          <li class="icons-list">
            <a class="icon-link">
                <span class="icon-img">
                  <img class="img-responsive" src="/assets/images/guest.png">
                </span>
                <span class="icon-title">
                 GUEST LIST
                </span>
              </a>
          </li>
          <li class="icons-list">
            <a class="icon-link">
                <span class="icon-img">
                  <img class="img-responsive" src="/assets/images/seat.png">
                </span>
                <span class="icon-title">
                  SEATING PLANNER
                </span>
              </a>
          </li>
          <li class="icons-list">
            <a class="icon-link">
                <span class="icon-img">
                  <img class="img-responsive" src="/assets/images/wed-web.png">
                </span>
                <span class="icon-title">
                  WEDDING WEBSITE
                </span>
              </a>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="news-block">
    <div class="container">
      <div class="title-block">
        <h2 class="title">Trends, News & Advice</h2>
        <div class="border-design"><img class="img-responsive" src="/assets/images/sep.png" /></div>
      </div>
      <div class="news-img-block row">
        <div class="col-md-7">
          <div class="img-view" style="margin-bottom: 16px;">
            <img src="/assets/images/trends1.png" class="img-responsive" style="height: 100%;" />
            <div class="img-name">
              <span class="icon"><img src="/assets/images/love-icon.png" class="img-responsive"/></span>
              <span class="name">The hottest current wedding trends in 2017</span>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="img-view" style="margin-bottom: 16px;">
            <img src="/assets/images/sprint1.png" class="img-responsive" />
            <div class="img-name">
              <span class="icon"><img src="/assets/images/love-icon.png" class="img-responsive"/></span>
              <span class="name">View the Spring 2017 Collection</span>
            </div>
          </div>
          <div class="img-view">
            <img src="/assets/images/checklist-img.png" class="img-responsive" />
            <div class="img-name">
              <span class="icon"><img src="/assets/images/love-icon.png" class="img-responsive"/></span>
              <span class="name">Wedding Planning Checklist</span>
            </div>
          </div>
        </div>
      </div>
      <div class="more-stories">
        <a href="#">MORE TRENDS</a>
      </div>
    </div>
  </section>

  <section class="gift-block">
    <div class="title-block">
      <h2 class="title">The Gift Registry for all budgets</h2>
      <div class="title-content">
        Popular gifts and wishing wells in one place. Convenient, easy and fun
      </div>
      <div class="border-design"><img class="img-responsive" src="/assets/images/sep.png" /></div>
    </div>
    <div class="img-view row">
      <div class="col-xs-12 col-sm-12 col-md-12 nopadding">
        <div class="carousel carousel-showmanymoveone slide" id="itemslider">
          <div class="carousel-inner">

            <div class="item active slide1">
              <div class="col-xs-12 gift-img">
                <img src="/assets/images/gift5.png" class="img-responsive center-block">
              </div>
            </div>

            <div class="item slide2">
              <div class="col-xs-12 gift-img">
                <img src="/assets/images/gift4.png" class="img-responsive center-block">
              </div>
            </div>

            <div class="item slide3">
              <div class="col-xs-12 gift-img">
                <img src="/assets/images/gift1.png" class="img-responsive center-block">
              </div>
            </div>

            <div class="item slide4">
              <div class="col-xs-12 gift-img">
                <img src="/assets/images/gift2.png" class="img-responsive center-block">
              </div>
            </div>

            <div class="item slide5">
              <div class="col-xs-12 gift-img">
                <img src="/assets/images/gift3.png" class="img-responsive center-block">
              </div>
            </div>
          </div>

          <div id="slider-control">
            <!-- <a class="left carousel-control" href="#itemslider" data-slide="prev"><img src="https://s12.postimg.org/uj3ffq90d/arrow_left.png" alt="Left" class="img-responsive"></a>
            <a class="right carousel-control" href="#itemslider" data-slide="next"><img src="https://s12.postimg.org/djuh0gxst/arrow_right.png" alt="Right" class="img-responsive"></a>-->
          </div>
        </div>
      </div>
      <button class="more-gift-btn">Browse More Gift</button>
    </div>
  </section>
  <section class="story-block">
    <div class="container">
      <div class="story-title">
        <h2 class="title">
          Tell Your Story, Beautifully.
        </h2>
        <span class="msg">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard 
          dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries
          </span>
        <div class="border-design"><img class="img-responsive" src="/assets/images/sep.png" /></div>
      </div>

      <div class="story-info row">
        <div class="col-md-6">
          <div class="info-text col-md-6">
            <div class="title">lincoln memorial</div>
            <div class="content a-right">
              Live near DC? Why not utilize the beauty of the area like this couple did? The Lincoln Memorial is the backdrop for their
              stunning The Lincoln Memorial is the backdrop for their stunning session.
            </div>
          </div>
          <div class="info-img col-md-6">
            <img src="/assets/images/img2.png" class="img-responsive">
          </div>
        </div>
        <div class="col-md-6">
          <div class="info-img col-md-6">
            <img src="/assets/images/img1.png" class="img-responsive">
          </div>
          <div class="info-text col-md-6">
            <div class="title">Jack leana memorial </div>
            <div class="content a-left">Live near DC? Why not utilize the beauty of the area like this couple did? The Lincoln Memorial is the backdrop
              for their stunning The Lincoln Memorial is the backdrop for their stunning session.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="more-stories">
      <a href="#">MORE STORIES</a>
    </div>
  </section>

  <section class="work-block">
    <div class="container">
      <div class="title-block">
        <div class="title">Work Together. Anytime. Anywhere.</div>
        <div class="our-promise">Our Promise</div>
      </div>
      <div class="work-container row">
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="img-block">
            <img src="/assets/images/clc.png">
          </div>
          <div class="content">
            <div class="title">24/7 Customer Service</div>
            <div class="content-msg">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
              standard dummy took a galley of type and scrambled it to make a type specimen book.</div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="img-block">
            <img src="/assets/images/invo.png">
          </div>
          <div class="content">
            <div class="title">Continued Innovation</div>
            <div class="content-msg">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
              standard dummy took a galley of type and scrambled it to make a type specimen book.</div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="img-block">
            <img src="/assets/images/sec.png">
          </div>
          <div class="content">
            <div class="title">Secured</div>
            <div class="content-msg">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
              standard dummy took a galley of type and scrambled it to make a type specimen book.</div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- Body End-->