<!-- Body Content-->
<div class="main-container">
  <section class="Wedding-Photos">
      <div class="photo-section container">
          <div class="title">
              <h1> Wedding Dresses </h1>
          </div>
          <div class="photo-block row">                    
              <div class="col-md-3 col-sm-3 col-xs-6">
                  <div class="image-block">
                      <img src="../image/wedding/2.jpg" class="img-responsive"/>
                      <div class="btn-block"><button class="btn-save">view</button></div>
                  </div>
                  <div class="image-name">
                      Demetrios # 3213
                  </div>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-6">
                  <div class="image-block">
                      <img src="../image/wedding/3.jpg" class="img-responsive"/>
                      <div class="btn-block"><button class="btn-save">view</button></div>
                  </div>
                  <div class="image-name">
                      Demetrios # 3213
                  </div>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-6">
                  <div class="image-block">
                      <img src="../image/wedding/4.jpg" class="img-responsive"/>
                      <div class="btn-block"><button class="btn-save">view</button></div>
                  </div>
                  <div class="image-name">
                      Demetrios # 3213
                  </div>
              </div>                    
              <div class="col-md-3 col-sm-3 col-xs-6">
                  <div class="image-block">
                      <img src="../image/wedding/5.jpg" class="img-responsive"/>
                      <div class="btn-block"><button class="btn-save">view</button></div>
                  </div>                        
                  <div class="image-name">
                      Demetrios # 3213
                  </div>
              </div>
          </div>
          <div class="photo-block row">
              <div class="col-md-3 col-sm-3 col-xs-6">
                  <div class="image-block">
                      <img src="../image/wedding/6.jpg" class="img-responsive"/>
                      <div class="btn-block"><button class="btn-save">view</button></div>
                  </div>
                  <div class="image-name">
                      Demetrios # 3213
                  </div>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-6">
                  <div class="image-block">
                      <img src="../image/wedding/7.jpg" class="img-responsive"/>
                      <div class="btn-block"><button class="btn-save">view</button></div>
                  </div>
                  <div class="image-name">
                      Demetrios # 3213
                  </div>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-6">
                  <div class="image-block">
                      <img src="../image/wedding/8.jpg" class="img-responsive"/>
                      <div class="btn-block"><button class="btn-save">view</button></div>
                  </div>
                  <div class="image-name">
                      Demetrios # 3213
                  </div>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-6">
                  <div class="image-block">
                      <img src="../image/wedding/9.jpg" class="img-responsive"/>
                      <div class="btn-block"><button class="btn-save">save</button></div>
                  </div>
                  <div class="image-name">
                      Demetrios # 3213
                  </div>
              </div>            
          </div>
      </div> 
  </section>
</div>
  <!-- Body End-->
